body {
    background-color: rgb(143, 63, 49);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
    color: white;
}

form {
    margin: 1em;
}

fieldset {
    width: max-content;
}

legend {
    font-weight: bold;
}

textarea {
    background-color: rgb(248, 231, 224); 
    font-family: inherit;
    font-size: inherit;
    width: 380px;
    height: 190px;
    padding: 8px;
}

input {
    background-color: rgb(248, 231, 224); 
    font-size: 14pt;
}

input[type=text] {
    width: 200px;
    height: 25px;
    padding: 5px;
}

input[type=reset] {
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    width: 80px;
    padding: 5px;
    cursor: pointer;

}

input[type=reset]:hover {
    background-color: rgb(231, 123, 104);
}

input[type=submit] {
    color: white;
    background-color: rgb(43, 119, 138);
    border: 3px solid white;
    border-radius: 5px;
    width: 80px;
    padding: 5px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(116, 181, 197);
}