body {
    background-color: #1b1717;
    color: #ececec;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    font-size: 14pt;
    width: 80%;
    flex-direction: column;
    margin: auto;
}

header {
    background-color: #d24d58ea;
    background-image: url('images/header.jpg');
    height: 390px;
    border-radius: 15px 15px 0px 0px;
    padding-bottom: 8px;
}

h1 {
    font-size: 52pt;
    text-shadow: 2px 2px #000;
    margin-top: 1em;
}

a:focus {
        outline: 2px solid white;
    }

nav {
    background-color: #942e3f;
}

nav h2 {
    font-size: 15pt;
    margin: 0;
    padding-top: 5px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    padding: 1em 2em;
    border-bottom: 4px solid transparent;
}

nav li:hover {
    border-bottom: 4px solid #f7919afb;
}

nav a {
    color: #ececec;
    text-decoration: none;
    display: block;
}

main {
    background-color: #3b2f33;
    padding: 2em;
}
main a {
    color: #ff7e89;
}

main a:hover {
    color: #ffd1d4ed;
}

table {
    margin: auto;
    margin-bottom: 10px;
    border-collapse: collapse;
}

th, td {
    padding: 1em;
    border: 1px solid #d24d5878;
}

th {
    background-color: #d24d5878;
}

td:nth-child(1) {
    border-right: 1px solid transparent;
}

.content-skip{
    font-size: 14pt;
    color: #ffffff;
    text-decoration: underline;
    font-style: italic;
    display: block; /* <a> is inlined by default */
}

footer {
    background-color: #942e3f;
    padding: 1em;
    text-align: center;
    border-radius: 0px 0px 15px 15px;
}